<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar</title>
</head>
<body>
    <h1>Buscar</h1>
    <nav>
        <a href="{% url 'formulario_insertar' %}">Formulario</a> |
        <a href="{% url 'buscar' %}">Buscar</a> |
        <a href="{% url 'resultado_busqueda' %}">Resultado de Búsqueda</a>
    </nav>
    <form action="{% url 'buscar' %}" method="get">
        <input type="text" name="q">
        <button type="submit">Buscar</button>
    </form>
</body>
</html>
