<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultado de Búsqueda</title>
</head>
<body>
    <h1>Resultado de Búsqueda</h1>
    <nav>
        <a href="{% url 'formulario_insertar' %}">Formulario</a> |
        <a href="{% url 'buscar' %}">Buscar</a> |
        <a href="{% url 'resultado_busqueda' %}">Resultado de Búsqueda</a>
    </nav>
    <ul>
        {% for resultado in resultados_a %}
        <li>{{ resultado.campo_a }}</li>
        {% endfor %}
        {% for resultado in resultados_b %}
        <li>{{ resultado.campo_b }}</li>
        {% endfor %}
        {% for resultado in resultados_c %}
        <li>{{ resultado.campo_c }}</li>
        {% endfor %}
    </ul>
</body>
</html>
